Cargando Contagios

In [1]:
# Cargando algunas librerias
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
# Cargando los datos
url1 = "https://raw.githubusercontent.com/vacunatepe/automatcoviddata/main/contagiosUS.csv"
cont = pd.read_csv(url1,dtype={'UBIGEO': str})
cont = cont.drop(['Unnamed: 0'], axis=1)
cont = cont.rename(columns={'UUID': 'CONTAGIOS'})
cont

      DEPARTAMENTO PROVINCIA  DISTRITO  UBIGEO   SEMANA  CONTAGIOS
0         AMAZONAS     BAGUA  ARAMANGO  010202  2020-14          1
1         AMAZONAS     BAGUA  ARAMANGO  010202  2020-15          3
2         AMAZONAS     BAGUA  ARAMANGO  010202  2020-16          1
3         AMAZONAS     BAGUA  ARAMANGO  010202  2020-17         11
4         AMAZONAS     BAGUA  ARAMANGO  010202  2020-18          2
...            ...       ...       ...     ...      ...        ...
40066      UCAYALI     PURUS     PURUS  250401  2021-02          3
40067      UCAYALI     PURUS     PURUS  250401  2021-03          2
40068      UCAYALI     PURUS     PURUS  250401  2021-04          2
40069      UCAYALI     PURUS     PURUS  250401  2021-06          5
40070      UCAYALI     PURUS     PURUS  250401  2021-07          2

[40071 rows x 6 columns]

Cargando Vacunas

In [2]:
url2 = "https://raw.githubusercontent.com/vacunatepe/automatcoviddata/main/vacunaUS.csv" 
vac = pd.read_csv(url2,dtype={'UBIGEO': str})
vac = vac.drop(['Unnamed: 0'], axis=1)
vac = vac.rename(columns={'UUID': 'VACUNADOS'})
vac

     DEPARTAMENTO   PROVINCIA    DISTRITO  UBIGEO   SEMANA  VACUNADOS
0        AMAZONAS       BAGUA    ARAMANGO  010202  2021-08         70
1        AMAZONAS       BAGUA    ARAMANGO  010202  2021-09          5
2        AMAZONAS       BAGUA       BAGUA  010201  2021-06        251
3        AMAZONAS       BAGUA       BAGUA  010201  2021-07         65
4        AMAZONAS       BAGUA       BAGUA  010201  2021-08        422
...           ...         ...         ...     ...      ...        ...
3280      UCAYALI  PADRE ABAD     NESHUYA  250304  2021-08         58
3281      UCAYALI  PADRE ABAD  PADRE ABAD  250301  2021-06         86
3282      UCAYALI  PADRE ABAD  PADRE ABAD  250301  2021-07         41
3283      UCAYALI  PADRE ABAD  PADRE ABAD  250301  2021-08         71
3284      UCAYALI  PADRE ABAD  PADRE ABAD  250301  2021-09         51

[3285 rows x 6 columns]

Uniendo vacunas con contagio

In [3]:
new_df = pd.merge(cont, vac,  how='left', left_on=['DEPARTAMENTO', 'PROVINCIA','DISTRITO','UBIGEO','SEMANA'], right_on = ['DEPARTAMENTO', 'PROVINCIA','DISTRITO','UBIGEO','SEMANA'])
new_df['VACUNADOS'] = new_df['VACUNADOS'].fillna(0)
new_df

      DEPARTAMENTO PROVINCIA  DISTRITO  UBIGEO   SEMANA  CONTAGIOS  VACUNADOS
0         AMAZONAS     BAGUA  ARAMANGO  010202  2020-14          1        0.0
1         AMAZONAS     BAGUA  ARAMANGO  010202  2020-15          3        0.0
2         AMAZONAS     BAGUA  ARAMANGO  010202  2020-16          1        0.0
3         AMAZONAS     BAGUA  ARAMANGO  010202  2020-17         11        0.0
4         AMAZONAS     BAGUA  ARAMANGO  010202  2020-18          2        0.0
...            ...       ...       ...     ...      ...        ...        ...
40066      UCAYALI     PURUS     PURUS  250401  2021-02          3        0.0
40067      UCAYALI     PURUS     PURUS  250401  2021-03          2        0.0
40068      UCAYALI     PURUS     PURUS  250401  2021-04          2        0.0
40069      UCAYALI     PURUS     PURUS  250401  2021-06          5        0.0
40070      UCAYALI     PURUS     PURUS  250401  2021-07          2        0.0

[40071 rows x 7 columns]

Cargando movilidad

In [4]:
url3 = "https://raw.githubusercontent.com/vacunatepe/automatcoviddata/main/movilidad.csv" 
mov = pd.read_csv(url3,dtype={'UBIGEO': str})
mov = mov.drop(['Unnamed: 0'], axis=1)
mov = mov.rename(columns={'retail_and_recreation_percent_change_from_baseline': 'CENTRO_COMERCIAL',
                          'grocery_and_pharmacy_percent_change_from_baseline':'TIENDAS_FARMACIAS',
                          'parks_percent_change_from_baseline':'PARQUES',
                          'transit_stations_percent_change_from_baseline':'PARADEROS',
                          'workplaces_percent_change_from_baseline':'CENTRO_LABORAL'})
mov = mov[['DEPARTAMENTO', 'PROVINCIA','DISTRITO','UBIGEO','SEMANA','CENTRO_COMERCIAL','TIENDAS_FARMACIAS','PARQUES','PARADEROS','CENTRO_LABORAL']]
mov

      DEPARTAMENTO   PROVINCIA  ... PARADEROS CENTRO_LABORAL
0         AMAZONAS       BAGUA  ...     -12.0            0.0
1         AMAZONAS       BAGUA  ...     -12.0            0.0
2         AMAZONAS       BAGUA  ...     -12.0            0.0
3         AMAZONAS       BAGUA  ...     -12.0            0.0
4         AMAZONAS       BAGUA  ...     -12.0            0.0
...            ...         ...  ...       ...            ...
56847      UCAYALI  PADRE ABAD  ...       0.0           -7.0
56848      UCAYALI  PADRE ABAD  ...       0.0           -7.0
56849      UCAYALI  PADRE ABAD  ...       0.0           -7.0
56850      UCAYALI  PADRE ABAD  ...       0.0           -7.0
56851      UCAYALI  PADRE ABAD  ...       0.0           -7.0

[56852 rows x 10 columns]

Combinando contagios, vacunas y movilidad

In [5]:
new_df2 = pd.merge(new_df, mov,  how='left', left_on=['DEPARTAMENTO', 'PROVINCIA','DISTRITO','UBIGEO','SEMANA'], right_on = ['DEPARTAMENTO', 'PROVINCIA','DISTRITO','UBIGEO','SEMANA'])
new_df2

      DEPARTAMENTO PROVINCIA  DISTRITO  ...    PARQUES  PARADEROS  CENTRO_LABORAL
0         AMAZONAS     BAGUA  ARAMANGO  ... -66.714286 -10.428571      -27.714286
1         AMAZONAS     BAGUA  ARAMANGO  ... -58.571429 -18.571429       -7.571429
2         AMAZONAS     BAGUA  ARAMANGO  ... -63.142857 -40.428571       -7.000000
3         AMAZONAS     BAGUA  ARAMANGO  ... -64.285714 -40.428571        0.000000
4         AMAZONAS     BAGUA  ARAMANGO  ... -61.000000 -38.714286        0.000000
...            ...       ...       ...  ...        ...        ...             ...
40066      UCAYALI     PURUS     PURUS  ...        NaN        NaN             NaN
40067      UCAYALI     PURUS     PURUS  ...        NaN        NaN             NaN
40068      UCAYALI     PURUS     PURUS  ...        NaN        NaN             NaN
40069      UCAYALI     PURUS     PURUS  ...        NaN        NaN             NaN
40070      UCAYALI     PURUS     PURUS  ...        NaN        NaN             NaN

[40071 rows x 12 columns]

Cargando fallecidos

In [6]:
url4 = "https://raw.githubusercontent.com/vacunatepe/automatcoviddata/main/fallecidosUS.csv" 
fall = pd.read_csv(url4,dtype={'UBIGEO': str})
fall = fall.drop(['Unnamed: 0'], axis=1)
fall = fall.rename(columns={'Fecha': 'FALLECIDOS'})
fall

      DEPARTAMENTO   PROVINCIA    DISTRITO  UBIGEO   SEMANA  FALLECIDOS
0         AMAZONAS       BAGUA    ARAMANGO  010202  2020-22           1
1         AMAZONAS       BAGUA    ARAMANGO  010202  2020-25           1
2         AMAZONAS       BAGUA    ARAMANGO  010202  2020-26           1
3         AMAZONAS       BAGUA    ARAMANGO  010202  2020-27           2
4         AMAZONAS       BAGUA    ARAMANGO  010202  2020-29           1
...            ...         ...         ...     ...      ...         ...
11956      UCAYALI  PADRE ABAD  PADRE ABAD  250301  2021-02           1
11957      UCAYALI  PADRE ABAD  PADRE ABAD  250301  2021-03           1
11958      UCAYALI  PADRE ABAD  PADRE ABAD  250301  2021-05           1
11959      UCAYALI  PADRE ABAD  PADRE ABAD  250301  2021-06           1
11960      UCAYALI  PADRE ABAD  PADRE ABAD  250301  2021-07           3

[11961 rows x 6 columns]

Combinandos Contagio, vacuna, movilidad y fallecidos

In [7]:
new_df3 = pd.merge(new_df2, fall,  how='left', left_on=['DEPARTAMENTO', 'PROVINCIA','DISTRITO','UBIGEO','SEMANA'], right_on = ['DEPARTAMENTO', 'PROVINCIA','DISTRITO','UBIGEO','SEMANA'])
new_df3['FALLECIDOS'] = new_df3['FALLECIDOS'].fillna(0)
new_df3

      DEPARTAMENTO PROVINCIA  DISTRITO  ...  PARADEROS CENTRO_LABORAL  FALLECIDOS
0         AMAZONAS     BAGUA  ARAMANGO  ... -10.428571     -27.714286         0.0
1         AMAZONAS     BAGUA  ARAMANGO  ... -18.571429      -7.571429         0.0
2         AMAZONAS     BAGUA  ARAMANGO  ... -40.428571      -7.000000         0.0
3         AMAZONAS     BAGUA  ARAMANGO  ... -40.428571       0.000000         0.0
4         AMAZONAS     BAGUA  ARAMANGO  ... -38.714286       0.000000         0.0
...            ...       ...       ...  ...        ...            ...         ...
40066      UCAYALI     PURUS     PURUS  ...        NaN            NaN         0.0
40067      UCAYALI     PURUS     PURUS  ...        NaN            NaN         0.0
40068      UCAYALI     PURUS     PURUS  ...        NaN            NaN         0.0
40069      UCAYALI     PURUS     PURUS  ...        NaN            NaN         0.0
40070      UCAYALI     PURUS     PURUS  ...        NaN            NaN         0.0

[40071 rows x 13 columns]

Guardando Base

In [8]:
new_df3.to_csv('datossemana.csv')